# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.DS_Store
.gitignore
.idea/
project/target/
src/.DS_Store
src/main/.DS_Store
src/main/scala/.DS_Store
src/main/scala/au/.DS_Store
src/main/scala/au/edu/.DS_Store
src/main/scala/au/edu/utscic/.DS_Store
src/main/scala/au/edu/utscic/textshape/.DS_Store
/src/site/
project/project/
